.bio {
width:1200px ;
height: 550;
color: black;
padding: 20px;
position: relative;
left: 120px;
text-align: justify;
background-clip: border-box;
font-size: 16px;
font-family: 'Times New Roman', Times, serif;
}
.bio:hover {
    background-size: cover;
    background-position: center;
    background-image: url("flag.jpg");
    
}
.tribute {
    animation: kalam;
    animation-duration: 3s;
    animation-timing-function: ease-out;

}
@keyframes kalam {
    from {background-color: rgb(247, 117, 117);}
    to {background-color: rgb(99, 112, 235);}
    
}
.bio h2 {
    color: rgb(224, 40, 80);
    line-height: 1.3;
    font-size: 2rem;
    margin-bottom: 1rem;
}
* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.quote {

    font-size: 3rem;
    padding: 20px;
}
.tribute {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width:100%;
    margin:0px auto;
    color: white;
    background-color: black;
    text-align: center;
}

.tribute img {
    max-width: 100%;
    
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(26, 6, 6);
    background-image:linear-gradient(bisque,rgb(84, 187, 228),rgb(247, 174, 241), rgb(84, 170, 84));
}
 h1{
    padding: 2rem;
    text-align: center;
}
.des {
    text-align: center;
}
.bio p {
    font-size: 1.2rem;
    line-height: 1.4;
}